@import "./colors.scss";

:root {
  --roundedSmall: 3px;
  --roundedMedium: 5px;
  --roundedBig: 12px;

  --transitionFast: 0.15s, filter 0.5s ease-in;
  --transitionSmooth: 0.35s, filter 1.5s ease-in-out;

  --boxShadow: 0 0.5rem 0.8rem 0.2rem rgba(0, 0, 0, 0.15);
  --textShadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Ginto Nord Medium";
  src: url("@/assets/fonts/Ginto Nord Medium.otf");
}

@font-face {
  font-family: "Whitney-Book";
  src: url("@/assets/fonts/Whitney-Book.otf");
}

@font-face {
  font-family: "Whitney-Semibold";
  src: url("@/assets/fonts/Whitney-Semibold.otf");
}

/* custom scroll-bar */

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background: var(--app-4);
}

::-webkit-scrollbar-thumb {
  background: var(--my-1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--app-1);
}

/* custom text select color */

::-moz-selection {
  color: var(--white);
  background: var(--blurple);
}

::selection {
  color: var(--white);
  background: var(--blurple);
}

// global classes
.button {
  padding: 0.5rem 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--roundedSmall);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    transition: 0.15s, filter 0.5s ease-in;
  }

  &.primary {
    background-color: var(--primary);

    @media (min-width: 1025px) {
      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }

  &.secondary,
  &.link {
    background-color: var(--secondary);

    @media (min-width: 1025px) {
      &:hover {
        background-color: var(--secondary-hover);
      }
    }
  }

  &.success {
    background-color: var(--success);

    @media (min-width: 1025px) {
      &:hover {
        background-color: var(--success-hover);
      }
    }
  }

  &.danger {
    background-color: var(--danger);

    @media (min-width: 1025px) {
      &:hover {
        background-color: var(--danger-hover);
      }
    }
  }

  img {
    height: 15px;
    filter: invert(1);
    position: relative;
    bottom: 1px;
  }

  @media (max-width: 768px) {
    & {
      width: 12rem;
      height: 1.7rem;
      display: flex;
      justify-content: center;
      font-size: 1.1rem;
      gap: 10px;

      img {
        height: 20px;
      }
    }
  }
}

.embed {
  padding: 0.5rem 1.8rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--font-color-1);
  background-color: var(--app-3);
  border-color: var(--web-1);
  border-width: 0.5px;
  border-left-width: 0.4rem;
  border-left-color: var(--secondary);
  border-style: solid;
  border-radius: var(--roundedMedium);

  p {
    margin: 0.8rem 0;
  }

  b {
    font-family: "Whitney-Semibold";
  }

  @media (max-width: 768px) {
    & {
      padding: 0.25rem 1.25rem;
    }
  }
}

.start {
  text-align: center;
  font-size: 1.15rem;
  margin: 3rem 10rem 1rem 10rem;

  h1 {
    font-family: "Ginto Nord Medium";
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.2rem;
  }

  @media (max-width: 768px) {
    & {
      font-size: 1.1rem;
      margin: 2rem 5% 0 5%;
    }

    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1rem;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

// reset style
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--app-2);
  color: var(--font-color-2);
  font-family: "Whitney-Book";
}

main {
  margin: 4rem 0 3rem 0;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--white);
}

h2 {
  font-family: "Whitney-Semibold";
}

a {
  margin: 0;
  padding: 0;
  color: var(--white);
  text-decoration: none;
}
